*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
main{
    background-color: crimson;
}
i{
    font-size: 2rem;
    
}
nav{
    height: fit-content;
}
